.bg-primary{
    -fx-background-color: #C91DD8;
}

.bg-white{
    -fx-background-color: white;
}

.box-login{
    -fx-max-width: 200;
    -fx-max-height: 200;
    -fx-min-width: 200;
    -fx-min-height: 200;
}

.box-form{
    -fx-background-radius: 12;
}

.box-form TextField, Button{
    -fx-max-width: 150;
    -fx-max-height: 40;
    -fx-min-width: 150;
    -fx-min-height: 40;
}

.box-form TextField{
    -fx-background-color: #E7E7E7;
}

.box-form Button{
    -fx-background-color: #AD16BA;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.box-log{
    -fx-background-radius: 12;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-padding: 20;
    -fx-max-width: 500;
    -fx-background-color: #C91DD8;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.box-log Label{
    -fx-text-fill: white;
    -fx-font-size: 16;
}
