.bg-primary{
    -fx-background-color: #C91DD8;
}

.bg-white{
    -fx-background-color: white;
}

.box-login{
    -fx-max-width: 200;
    -fx-max-height: 200;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-background-radius: 12;
}

.box-login TextField, Button{
    -fx-max-width: 150;
    -fx-max-height: 40;
    -fx-min-width: 150;
    -fx-min-height: 40;
}

.box-login TextField{
    -fx-background-color: #E7E7E7;
}

.box-login Button{
    -fx-background-color: #AD16BA;
    -fx-text-fill: white;
    -fx-font-size: 18;
}
